---
repos:
- repo: https://github.com/adrienverge/yamllint.git
  rev: v1.17.0
  hooks:
    - id: yamllint
      args: [-c=.yamllint.yaml]

- repo: git://github.com/antonbabenko/pre-commit-terraform
  rev: v1.45.0
  hooks:
    - id: terraform_fmt
    # terraform_docs currently not installing correctly.
    # - id: terraform_docs
    # - id: terraform_tflint

# - repo: local
#   hooks:
#     - id: check_images
#       name: check_images
#       entry: ./scripts/check-images
#       # files: "terraform/*/main.tf"
#       language: python
#       additional_dependencies:
#         - hcl
#         - httpx
