name: Deploy
on:
  push:
    branches:
      - main
  release:
    types:
      - created

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:

    - name: Set environment
      id: environment
      run: |
        echo ${{ github.event_name }}
        if [[ ${{ github.event_name == 'release' }} == true ]]; then
          environment=prod
        else
          environment=staging
        fi
        echo "environment: ${environment}"
        echo "::set-output name=environment::${environment}"

    - uses: azure/login@v1
      with:
        creds: ${{ secrets.AZURE_CREDENTIALS }}

    - uses: actions/checkout@v2
      with:
        fetch-depth: 2

    - uses: hashicorp/setup-terraform@v1
    - uses: azure/setup-helm@v1

    - name: Azure CLI script
      env:
        ARM_SUBSCRIPTION_ID: ${{ secrets.AZURE_CREDENTIALS.subscriptionId }}
        ARM_TENANT_ID: ${{ secrets.AZURE_CREDENTIALS.tenantId }}
        ARM_CLIENT_ID: ${{ secrets.AZURE_CREDENTIALS.clientId }}
        ARM_CLIENT_SECRET: ${{ secrets.AZURE_CREDENTIALS.clientSecret }}
        PROD_TEST_BOT_TOKEN: ${{ secrets.PROD_TEST_BOT_TOKEN }}
        STAGING_TEST_BOT_TOKEN: ${{ secrets.STAGING_TEST_BOT_TOKEN }}
      run: |
        export ENVIRONMENT=${{ steps.environment.outputs.environment }}
        echo "[Deploying ${ENVIRONMENT}]"
        # # export subscriptionId=$(subscriptionId)
        # # # For Terraform

        # # For Azure CLI
        # export AZURE_TENANT_ID=${tenantId}
        # export AZURE_CLIENT_ID=${servicePrincipalId}
        # export AZURE_CLIENT_SECRET=${servicePrincipalKey}

        if [[ ${ENVIRONMENT} == "prod" ]]; then
          export TEST_BOT_TOKEN=${PROD_TEST_BOT_TOKEN}
          export JUPYTERHUB_URL="https://pccompute.westeurope.cloudapp.azure.com/compute"
        else
          export TEST_BOT_TOKEN=${STAGING_TEST_BOT_TOKEN}
          export JUPYTERHUB_URL="https://pcc-staging.westeurope.cloudapp.azure.com/compute"
        fi

        echo [JUPYTERHUB_URL $JUPYTERHUB_URL]
        sh ./scripts/setup
        ./scripts/deploy