{% extends "templates/login.html" %}

{% block login %}
<main id="login-main" class="container">
<div class="service-login">
  <div class="login-options">
      <div class="box">
      <span class="large-caption">Already have an account?</span>
      <p style="margin-top: 30px">
        <a role="button" style="border-radius: 2px;" class='ms-Button ms-Button--primary' href='{{ authenticator_login_url }}'>
          <span class="ms-Button-label" style="padding: 20px;">
            Sign in 
          </span>
      </a>

      </p>
      </div>

      <div class="box">
        <span class="large-caption">Interested in signing up?</span>
        <p>The Planetary Computer Hub is currently in private preview. If
        you're interested in being one of our first users, you can <a
        href="https://planetarycomputer.microsoft.com/account/request">request
        access</a>.
      </div>
    </div>
  </div>


</main>

{% endblock login %}
